/* ESTILO GERAL DO SITE */
*
{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
}
body
{
     background-color: black;
     height: 100vh;
}
.interface
{
     max-width: 1280px;
     margin: 0 auto;
}
.flex
{
     display: flex;
}
.btn-contato button
{
     padding: 10px 40px;
     font-size: 18px;
     font-weight: 700;
     background-color: #00FF08;
     border: 0;
     border-radius: 30px;
     cursor: pointer;
}
h2.título
{
     color: #fff;
     font-size: 38px;
     text-align: center;
}
h2.título span
{
     color: #00FF08;
}
.btn-contato button:hover
{
     transform: scale(1.05);
     transition: .2s;
}
/* ESTILO DO CABEÇALHO*/
header
{
     padding: 40px 4%;
}

header > .interface
{
     display: flex;
     align-items: center;
     justify-content: space-between;
}
header a
{
     color: #7d7d7d;
     text-decoration: none;
     display: inline-block;
     transition: .2s;
}
header a:hover
{
     color: #fff;
     transform: scale(1.05);
}
header nav ul
{
     list-style-type: none;
}
header nav ul li
{
     display: inline-block;
     padding: 0 50px;
}
/* ESTILO DO TOPO DO SITE */
section.topo-do-site
{
     padding: 40px 4%;
}
section.topo-do-site .flex
{
     align-items: center;
     justify-content: center;
     gap: 90px;
}
.topo-do-site h1
{
     color: #fff;
     font-size: 50px;
}
.topo-do-site p
{
     color: #fff;
     margin: 20px;
}
.topo-do-site .img-topo-site img
{
     position: relative;
     animation: flutuar 2s ease-in-out infinite alternate;
}
@keyframes flutuar
{
     0%
     {
          top: 0;
     }
     100%
     {
          top: 30px;
     }
}
/* ESTILO DAS ESPECIALIDADES */
section.especialidades
{
     padding: 40px 4%;
}
section.especialidades .flex
{
     gap: 60px;
}
.especialidades-box
{
     color: #fff;
     padding: 40px;
     font-size: 22px;
     margin-top: 20px;
     margin-bottom: 20px;
     border: 2px solid #fff;
}
.especialidades-box h3
{
     font-size: 28px;
     margin: 15px 15px;
}
.especialidades-box i
{
     font-size: 100px;
     color: #00FF08;
}
.especialidades-box ul
{
     margin-top: 20px;
     list-style: none;
}
/* ESTILO SOBRE*/
.txt-sobre h2
{
     font-size: 34px;
     text-align: center;
}
.txt-sobre p
{
     margin: 20px;
     font-size: 20px;
     text-align: justify;
}
.sobre .txt-sobre .btn-social button
{
     width: 60px;
     height: 60px;
     border-radius: 30px;
     border: none;
     background-color: #00FF08;
     font-size: 30px;
     cursor: pointer;
     margin: 0 8px;
}
.btn-social button:hover
{
     transform: scale(1.05);
     transition: .2s;
}